body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000;
}
p{
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg,#000,#fff,#000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;/*文字的區塊背景為底層背景需要搭配color:transparent*/
    /*WebKit系瀏覽器(Chrome、Safari私有屬性)*/
    -webkit-text-fill-color: rgba(255,255,255,.1);/*text-fill-color和color不能同時存在*/

}
@keyframes animate{
    0%
    {
        background-position: -500%;
    }
    100%
    {
        background-position: 500%;
    }
}